section {
    display: flex;
    flex-direction: column ; 
    padding: 5px;
    margin: 10px;
    align-items: center;
    border: 2px solid red;
    height: 344px;
    justify-content: center;
    /* color: rgb(0, 21, 139); */
}

section::before {
    content: "Hey it is before section" ;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(57, 201, 169);
    color: rgb(102, 67, 199);
}
.navigation {
    display: flex;
    border: 2px solid black;
    /* text-decoration: none; */
    /* flex-direction: column; */
    
}

.navigation li a {
    text-decoration: none;
}

li {
    list-style: none;
    padding: 20px;
    margin: 20px;
    /* text-decoration: none; */
    
}

section::after {
    content: "it is after section ";
}

h3 {
    font-size: 30px;
}
hr {
    /* position: relative;
    top: 20px ;
    border: none;
    height: 12px;
    background: black;
    margin-bottom: 50px; */

    background: rgb(93, 175, 168);
    position: relative;
    height: 5px;
    border: none;
}

header::before {
    background: url("https://images.unsplash.com/photo-1641666532586-be61495d6296?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0Mzk3OTg4Mg&ixlib=rb-1.2.1&q=80&w=1080") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;

}


